# Data Analyst Jobs

In [ ]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

### Extracting data from csv and store it in a data frame

In [27]:
jobs_df= pd.read_csv("DataAnalyst.csv", index_col = 0)
jobs_df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1
3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True

### Removing columns which are not necessary

In [28]:
jobs_df=jobs_df.drop(['Job Description'],axis=1)

## EDA

### Change location column to only state short names

In [29]:
jobs_df['state'] = jobs_df['Location'].apply(lambda x : x.split(',')[1])
jobs_df.head()

,Job Title,Salary Estimate,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,state
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True,NY
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1,NY
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1,NY
3,Data Analyst,$37K-$66K (Glassdoor est.),4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1,NY
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True,NY

### cleaning the head quarter city name and head quarter state name

In [30]:
jobs_df['Headquarter_city'] = jobs_df['Headquarters'].apply(lambda x : x.split(',')[0])
jobs_df.head()

,Job Title,Salary Estimate,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,state,Headquarter_city
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True,NY,New York
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1,NY,New York
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1,NY,New York
3,Data Analyst,$37K-$66K (Glassdoor est.),4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1,NY,McLean
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True,NY,New York

In [31]:
jobs_df['Headquarter_state'] = jobs_df['Headquarters'].apply(lambda x : x.split(',')[-1])
jobs_df.head()

,Job Title,Salary Estimate,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,state,Headquarter_city,Headquarter_state
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True,NY,New York,NY
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1,NY,New York,NY
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1,NY,New York,NY
3,Data Analyst,$37K-$66K (Glassdoor est.),4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1,NY,McLean,VA
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True,NY,New York,NY

In [32]:
jobs_df['state'].unique()

array([' NY', ' NJ', ' UT', ' CA', ' VA', ' FL', ' IL', ' TX', ' AZ',
       ' PA', ' DE', ' OH', ' NC', ' SC', ' IN', ' WA', ' GA', ' KS',
       ' CO', ' Arapahoe'], dtype=object)

In [33]:
jobs_df['Headquarter_state'].unique()

array([' NY', ' VA', ' CT', ' United Kingdom', '-1', ' AZ', ' MA', ' CA',
       ' Australia', ' MI', ' OH', ' PA', ' DC', ' WA', ' NJ', ' NC',
       ' IL', ' Ukraine', ' MO', ' FL', ' France', ' CO', ' GA',
       ' Ireland', ' TX', ' Canada', ' KS', ' MD', ' Singapore', ' India',
       ' KY', ' Switzerland', ' OK', ' Japan', ' Portugal', ' TN', ' DE',
       ' Malta', ' IN', ' UT', ' AL', ' SC', ' WV', ' South Korea',
       ' Taiwan', ' IA', ' VT', ' MN', ' MS', ' Norway', ' NH', ' RI',
       ' 061', ' AK', ' OR', ' NV', ' HI', ' ME', ' WI', ' Luxembourg',
       ' Finland', ' NE', ' AR', ' Brazil', ' Germany', ' Cyprus',
       ' Netherlands', ' PR', ' Austria', ' LA'], dtype=object)

In [34]:
jobs_df['Headquarter_city'].unique()

array(['New York', 'McLean', 'Stamford', 'London', '-1', 'Bronx',
       'Phoenix', 'Rome', 'Waltham', 'Mountain View', 'Marina del Rey',
       'Sydney', 'Warren', 'Columbus', 'San Francisco', 'Pittsburgh',
       'Washington', 'Seattle', 'Newtown', 'Piscataway', 'Charlotte',
       'Westmont', 'West Hollywood', 'Kyiv', 'Santa Monica',
       'Cherry Hill', 'Cleveland', 'San Jose', 'Burbank', 'Chicago',
       'Sunnyvale', 'Hauppauge', 'Saint Louis', 'Tampa', 'Paris',
       'Princeton', 'South Plainfield', 'Colorado Springs', 'Atlanta',
       'Fremont', 'Los Angeles', 'Plainsboro', 'Dublin', 'Alexandria',
       'Irvine', 'Irving', 'Glen Allen', 'Evanston', 'San Mateo',
       'North Brunswick', 'Brooklyn', 'Troy', 'Yorktown Heights',
       'Northville', 'Menlo Park', 'Florham Park', 'Woodridge', 'Armonk',
       'Lake Success', 'Toronto', 'Lenexa', 'Cincinnati', 'Baltimore',
       'Burlington', 'Pleasantville', 'Singapore', 'New Brunswick',
       'Mumbai', 'Bethesda', 'Bloomingdale', 'Louisville', 'Zurich',
       'West Hartford', 'Orlando', 'Fort Lee', 'Somerset', 'Tarrytown',
       'Allentown', 'Frisco', 'Moore', 'Newark', 'Tokyo', 'Braga',
       'Little Ferry', 'Richmond', 'Rockaway', 'Lanham', 'Miami Beach',
       'Spring', 'N New Hyde Park', 'Durham', 'Jersey City',
       'Monmouth Junction', 'Edison', 'Rochester', 'West Windsor',
       'Memphis', 'Dover', 'Cranford', 'Herndon', 'Fairfield',
       'Santa Clara', 'Duluth', 'Buffalo', 'Erdenheim', 'Redwood City',
       'Calgary', 'King of Prussia', 'Wellesley', 'Holmdel', 'Iselin',
       'Rolling Meadows', 'New City', 'Fairfax', 'Mosta', 'Alpharetta',
       'Tuxedo Park', 'Secaucus', 'Gibsonia', 'Queens Village', 'Boston',
       'LISBOA', 'Parsippany', 'Shepton Mallet', 'Westfield',
       'Southfield', 'Hilliard', 'West Orange', 'Albany', 'Staten Island',
       'Garden City', 'Montvale', 'Plano', 'South Salt Lake',
       'West Jordan', 'Salt Lake City', 'Dallas', 'Morrisville',
       'Farmington Hills', 'Sugar Land', 'Raleigh', 'Vaughan', 'Temple',
       'Greenwood Village', 'Lehi', 'Huntsville', 'Springville',
       'City of Industry', 'Cary', 'Hampton', 'Schaumburg', 'Charleston',
       'Mc Lean', 'Norfolk', 'Wilmington', 'Smithfield', 'Chennai',
       'San Diego', 'Reston', 'Yorktown', 'Fort Monroe', 'Chesapeake',
       'Arlington', 'Virginia Beach', 'Gainesville', 'Jacksonville',
       'El Segundo', 'Sterling', 'Hermosa Beach', 'South Jordan',
       'Culver City', 'Burlingame', 'Van Nuys', 'Glendale', 'Centennial',
       'Vancouver', 'Berwyn', 'Venice', 'Pasadena', 'Easton', 'Milton',
       'Melbourne', 'Houston', 'Sherman Oaks', 'Dana Point', 'Los Gatos',
       'Sacramento', 'Tarzana', 'West Roxbury', 'Seoul', 'Austin',
       'Oakland', 'Goleta', 'Walnut Creek', 'Sandy', 'Long Beach',
       'Carson', 'Bishnupur ', 'Hyderabad', 'Overland Park', 'Dayton',
       'Falls Church', 'Brea', 'Cupertino', 'Williamsville', 'Noida',
       'Panorama City', 'Danbury', 'Alhambra', 'Anaheim', 'Radnor',
       'Cerritos', 'Bolton', 'Arcadia', 'Taipei', 'Canoga Park',
       'Boca Raton', 'Renton', 'Santa Barbara', 'San Clemente',
       'Whittier', 'Rosemont', 'Kennesaw', 'Fort Wayne', 'Langhorne',
       'Itasca', 'Park Ridge', 'Mount Prospect', 'Aliso Viejo', 'Hanover',
       'Gardena', 'Muscatine', 'Berea', 'East Thetford', 'KIRKLAND',
       'Ottawa', 'New Haven', 'South Holland', 'Millersville', 'Detroit',
       'Deerfield Beach', 'Philadelphia', 'Northlake', 'Bridgeview',
       'Oak Brook', 'Saint Paul', 'Burr Ridge', 'Encinitas', 'Norcross',
       'Livonia', 'Northfield', 'Glenview', 'Iowa City', 'Lincolnshire',
       'Deerfield', 'Elk Grove Village', 'Salisbury', 'Des Plaines',
       'Clinton', 'Stafford', 'Ridgeland', 'Pearland', 'Upland', 'Stans',
       'Stavanger', 'Orem', 'Bengaluru', 'Arlington Heights', 'Cypress',
       'Greenville', 'Nashua', 'Fort Knox', 'Carrollton', 'Newport',
       'Lombard', 'Lake Jackson', 'Wayne', 'Scottsdale', 'Carlsbad',
       'North York', 'Anchorage', 'SUNDERLAND', 'Tempe', 'Portland',
       'Chandler', 'Canton', 'Springfield', 'Sanford', 'Reno', 'Malvern',
       'Bellevue', 'Nashville', 'Metuchen', 'Honolulu', 'Moon Township',
       'Cranbury', 'Fort Lauderdale', 'Santa Ana', 'South Portland',
       'Edmonton', 'Chantilly', 'Woonsocket', 'Plymouth Meeting',
       'Blue Bell', 'Phila', 'Vienna', 'Basking Ridge', 'Warrington',
       'West Conshohocken', 'Salem', 'Princeton Junction', 'Whippany',
       'Harleysville', 'Doylestown', 'Audubon', 'Farmington',
       'West Chester', 'Middleton', 'Mount Laurel', 'Chadds Ford',
       'Linthicum', 'Miami', 'Brentford', 'Sparta', 'Luxembourg',
       'Camden', 'Ashburn', 'Milwaukee', 'Abingdon', 'Highland Park',
       'Schaffhausen', 'Plainfield', 'San Antonio', 'Newport News',
       'Annapolis', 'Rusk', 'Tysons', 'Kotzebue', 'Catoosa', 'La Jolla',
       'Mechanicsburg', 'Fenton', 'Millbrae', 'Hagerstown',
       'Franklin Lakes', 'Towanda', 'Boulder', 'Germantown', 'El Cajon',
       'Maryland Heights', 'Richardson', 'Bezons', 'Nokia', 'Hastings',
       'Rockville', 'Norwalk', 'Red Bank', 'Yakima', 'Grapevine', 'Utica',
       'Addison', 'Winnebago', 'Mobile', 'Towson', 'Warwick',
       'Flower Mound', 'Fort Worth', 'Madison', 'Annapolis Junction',
       'Southlake', 'McKinney', 'Ann Arbor', 'Lisle', 'Tallassee',
       'Aberdeen', 'Fort Smith', 'Campbell', 'Palo Alto',
       'Rio de Janeiro', 'Natick', 'Pleasanton', 'Morristown', 'Walldorf',
       'Stanford', 'Hoboken', 'North Chicago', 'Santa Cruz', 'Elk Grove',
       'Union City', 'Brentwood', 'Milpitas', 'Gardanne', 'Acton',
       'Lawrenceville', 'Denver', 'Hoover', 'Nicosia', 'Allegan',
       'Cedar Park', 'Amsterdam', 'Macquarie Park', 'Mount Pleasant',
       'Bradenton', 'Frankfurt am Main', 'Des Moines', 'Eclepens',
       'Providence', 'Grand Prairie', 'Tulsa', 'Roanoke', 'Portsmouth',
       'New Albany', 'Bonn', 'Abbott Park', 'Old Bridge', 'Coral Gables',
       'Bridgewater', 'Huntersville', 'Fort Mill', 'Benicia',
       'Indian Trail', 'Arden', 'Cornelius', 'Mooresville', 'Hickory',
       'San Rafael', 'New Delhi', 'Guaynabo', 'Foster City', 'Berkeley',
       'Columbia', 'Marin City', 'Concord', 'San Ramon', 'Emeryville',
       'East Brunswick', 'Chesterfield', 'Keswick', 'South Windsor',
       'Minneapolis', 'Hercules', 'Faridabad', 'South Melbourne',
       'South San Francisco', 'Pleasant Hill', 'Worthington', 'Carmel',
       'Indianapolis', 'Feusisberg', 'Edmond', 'Mishawaka', 'Moosic',
       'Redmond', 'Issaquah', 'Burnsville', 'Kent', 'Kyoto', 'Tigard',
       'Athens', 'Cooper City', 'Gilbert', 'Lakewood', 'Monroe',
       'Lakeland', 'Aurora', 'Beaverton', 'West Des Moines', 'Broomfield'],
      dtype=object)

In [35]:
jobs_df['state'] = jobs_df['state'].replace('Arapahoe', 'CO', regex=True)

### Removing the rows which have salary estimate of -1

In [36]:
jobs_df = jobs_df[jobs_df['Salary Estimate'] != '-1']

### calculating the maximum and minimum salary

In [37]:
salary = jobs_df['Salary Estimate'].apply(lambda x : x.split('(')[0])

# Removing K and dollar sign from salary
rm_kd = salary.apply(lambda x : x.replace('K','').replace('$',''))
rm_kd

0        37-66
1        37-66
2        37-66
3        37-66
4        37-66
         ...
2248    78-104
2249    78-104
2250    78-104
2251    78-104
2252    78-104
Name: Salary Estimate, Length: 2252, dtype: object

In [38]:
# Creating columns for minimum, maximum, and average salary
jobs_df['min_salary'] = rm_kd.apply(lambda x : int(x.split('-')[0]))
jobs_df['max_salary'] = rm_kd.apply(lambda x : int(x.split('-')[1]))
jobs_df['avg_salary'] = (jobs_df.min_salary + jobs_df.max_salary) / 2
jobs_df.head()

,Job Title,Salary Estimate,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,state,Headquarter_city,Headquarter_state,min_salary,max_salary,avg_salary
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True,NY,New York,NY,37,66,51.5
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1,NY,New York,NY,37,66,51.5
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1,NY,New York,NY,37,66,51.5
3,Data Analyst,$37K-$66K (Glassdoor est.),4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1,NY,McLean,VA,37,66,51.5
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True,NY,New York,NY,37,66,51.5

In [39]:
jobs_df=jobs_df.drop(['Salary Estimate'],axis=1)

In [40]:
jobs_df.head()

,Job Title,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,state,Headquarter_city,Headquarter_state,min_salary,max_salary,avg_salary
0,"Data Analyst, Center on Immigration and Justic...",3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True,NY,New York,NY,37,66,51.5
1,Quality Data Analyst,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1,NY,New York,NY,37,66,51.5
2,"Senior Data Analyst, Insights & Analytics Team...",3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1,NY,New York,NY,37,66,51.5
3,Data Analyst,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1,NY,McLean,VA,37,66,51.5
4,Reporting Data Analyst,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True,NY,New York,NY,37,66,51.5

### Replacing -1 in competitors and Easy Apply columns with NA

In [41]:
jobs_df['Competitors']=jobs_df['Competitors'].apply(lambda x : x.replace('-1','NA'))
jobs_df['Easy Apply']=jobs_df['Easy Apply'].apply(lambda x : x.replace('-1','NA'))

In [42]:
jobs_df.head()

,Job Title,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,state,Headquarter_city,Headquarter_state,min_salary,max_salary,avg_salary
0,"Data Analyst, Center on Immigration and Justic...",3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),NA,True,NY,New York,NY,37,66,51.5
1,Quality Data Analyst,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),NA,NA,NY,New York,NY,37,66,51.5
2,"Senior Data Analyst, Insights & Analytics Team...",3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,NA,NY,New York,NY,37,66,51.5
3,Data Analyst,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),NA,NA,NY,McLean,VA,37,66,51.5
4,Reporting Data Analyst,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True,NY,New York,NY,37,66,51.5

### Dropping columns which are not used for further analysis

In [43]:
jobs_df=jobs_df.drop(['Location'],axis=1)

In [44]:
jobs_df=jobs_df.drop(['Founded','Revenue'],axis=1)

In [45]:
jobs_df.head()

,Job Title,Rating,Company Name,Headquarters,Size,Type of ownership,Industry,Sector,Competitors,Easy Apply,state,Headquarter_city,Headquarter_state,min_salary,max_salary,avg_salary
0,"Data Analyst, Center on Immigration and Justic...",3.2,Vera Institute of Justice\n3.2,"New York, NY",201 to 500 employees,Nonprofit Organization,Social Assistance,Non-Profit,NA,True,NY,New York,NY,37,66,51.5
1,Quality Data Analyst,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY",10000+ employees,Nonprofit Organization,Health Care Services & Hospitals,Health Care,NA,NA,NY,New York,NY,37,66,51.5
2,"Senior Data Analyst, Insights & Analytics Team...",3.4,Squarespace\n3.4,"New York, NY",1001 to 5000 employees,Company - Private,Internet,Information Technology,GoDaddy,NA,NY,New York,NY,37,66,51.5
3,Data Analyst,4.1,Celerity\n4.1,"McLean, VA",201 to 500 employees,Subsidiary or Business Segment,IT Services,Information Technology,NA,NA,NY,McLean,VA,37,66,51.5
4,Reporting Data Analyst,3.9,FanDuel\n3.9,"New York, NY",501 to 1000 employees,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",DraftKings,True,NY,New York,NY,37,66,51.5

In [46]:
jobs_df.describe()

            Rating   min_salary   max_salary   avg_salary
count  2252.000000  2252.000000  2252.000000  2252.000000
mean      3.160080    54.266874    89.979130    72.123002
std       1.665393    19.575375    29.315605    23.600734
min      -1.000000    24.000000    38.000000    33.500000
25%       3.100000    41.000000    70.000000    58.000000
50%       3.600000    50.000000    87.000000    69.000000
75%       4.000000    64.000000   104.000000    80.500000
max       5.000000   113.000000   190.000000   150.000000

### Writing back the final dataframe to a csv file for further visualizations

In [47]:
jobs_df.to_csv('jobs.csv',index=False)